@font-face {
  font-family: minecraft;
  src: url("Minecraft.ttf");
}
body {
  font-family: minecraft;
  background-color: black;
  color: white;
  background-image:url("BG.jpg");
  background-position:center;
  background-size:cover;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
}
    .games{
            text-align: center;
            padding: 50px;
        }
        .card{
            display: inline-block;
            width:300px;
            height:450px;
            margin:15px;
            background-color: #111;
            padding: 10px;
            box-sizing: border-box;
            vertical-align: top;
            border-radius: 6px;
        }
        .card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 15px red;
}
.card img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}
.card h3 {
  color: white;
  text-decoration: none;
}
.games-container{
  text-align: center;
  padding: 40px;
}

.game-card{
  display: inline-block;
  width: 300px;
  height: 500px;
  margin: 15px;
  background-color: #111;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 6px;
}

.game-card img{
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}

.game-card p{
  font-size: 13px;
  color: white;
  text-decoration: none;
}
.game-card h3{
  font-size: 13px;
  color: white;
  text-decoration: none;
}
.game-card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 15px red;
}
.btn{
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: red;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.btn:hover{
  background-color: darkred;
}
 .game-layout{
  width: 90%;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}


.game-about{
  width: 70%;
  padding: 20px;
}

.game-about p{
  color: white;
}
.game-info p{
  color: white;
}

.game-info{
  width: 30%;
  background-color: rgba(17,17,17,0.85);
  padding: 20px;
  border-left: 5px solid #e60000;
  border-radius: 12px;
}

.info-img{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 6px;
}
.game-about ul{
  margin: 0;
  padding-left: 20px;
}

.game-about li{
  line-height: 1.6;
}


